[project]
name = "yandex-algorithms"
version = "0.1.0"
description = "Yandex. Handbooks. Fundamentals of algorithms."
readme = "README.md"
requires-python = ">=3.13"
dependencies = []

[dependency-groups]
dev = [
    "ruff>=0.14.10",
]

[tool.ruff]
line-length = 120
